<!DOCTYPE html>

<html lang="ru">

    <head>

        <meta charset="utf-8"/>

        <meta name="description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="yandex-verification" content="69a9faa45f07ee20" />

        <meta property="og:description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}"/>
        <!--<meta property="og:image" content="TODO"/>-->
        <meta property="og:title" content="CS50. {% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}"/>

        <link rel="icon" href="{{ "/favicon.ico" | relative_url }}"/>

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"/>

        <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}"/>

        <title>CS50. {% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    </head>

    <body data-spy="scroll" data-target="#toc">

        <div class="container-fluid markdown-body">
            <div class="row">
                <div class="col-sm-2 sidebar">
                    <nav class="sidebar-nav">
                        <div class="sidebar-header">
                            <button class="nav-toggler nav-toggler-sm sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
                                <span class="sr-only">Toggle nav</span>
                            </button>
                            <a class="sidebar-brand img-responsive" href="{{ "/" | relative_url }}">
                                <h1 data-toc-skip>CS50x</h1>
                            </a>
                        </div>
                        <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">
                            <ul class="nav nav-pills nav-stacked">
                                <!--<li class="nav-header">CS50 IDE</li>-->
                                <li><a href="https://cs50.io" target="_blank">CS50 IDE</a></li>
                                <li><a href="{{ "/notes" | relative_url }}">Лекции</a></li>
                                <li><a href="{{ "/practice.html" | relative_url }}">Практика (Си)</a></li>
                                <li><a href="https://reference.cs50.net" target="_blank">Справочник по фукциям (Си)</a></li>
                                <li><a href="{{ "/manual/commands.html" | relative_url }}">Команды CS50 IDE</a></li>
                                <li><a href="{{ "/manual/datatypes.html" | relative_url }}">Типы данных в Си</a></li>
                                <li><a href="https://cs50.me" target="_blank">Оценки</a></li>
                                <li><a href="{{ "/faqs.html" | relative_url }}">FAQs</a></li>
                                <li><a href="{{ "/books" | relative_url }}">Книги</a></li>
                                <li><a href="{{ "/certificate.html" | relative_url }}">Сертификат edX</a></li>
                            </ul>
                            <hr class="visible-xs m-t"/>
                        </div>
                    </nav>
                </div>
                <div class="col-sm-8 content">
                    {{ content }}
                </div>
                <div class="col-sm-2 content">
                    <nav id="toc" data-spy="affix" data-toggle="toc"></nav>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

        <script src="{{ "/js/toolkit.min.js" | relative_url }}"></script>

        <script src="{{ "/js/bootstrap-toc.js" | relative_url }}"></script>

        <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter46490367 = new Ya.Metrika({ id:46490367, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/46490367" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    </body>
</html>